.suggestions-list {
	border: 3px solid #CBCBCB;
	position: absolute;
	list-style-type: none;
	margin: 0 0 0 100px;
	padding: 0;
	overflow: auto;
}
.suggestions-list li {
	color: #000000;
	padding: 10px 10px;
	height: 40px;
	cursor: pointer;
	background: #f9f9f9;
	border-bottom: 1px solid #eeeeee;
	width: 234px;
}
.suggestions-list li:hover {
	background: #eeeeee;
}
.suggestions-list li:active,
.suggestions-list li.active {
	color: #FFFFFF;
	background: #0099FF;
	width: 234px;
}