<div ng-controller="facturaController" ng-init="getProductos();getInformation();">
	<h1>Factura</h1>
	<div class="row">
		<div class="col-md-6">
			<form ng-submit="storeCliente()">
			  	<div class="form-group">
			    	<label for="numero_di">Número de documento de identidad</label>
			    	<input type="text" class="form-control" placeholder=""  maxlength="11" pattern="[0-9]{8,11}" ng-model="numero_di" ng-blur="searchDocumento(numero_di)" required>
			  	</div>
			  	<div class="form-group">
			    	<label for="tipo_doc">Tipo de documento de identidad</label>
			    	<select class="form-control" ng-options="di as di.descripcion for di in documentoTipos track by di.codigo" ng-model="tipo_doc" id="tipo_doc" required></select>
			  	</div>
			  	<div class="form-group">
			    	<label for="nombre">Apellidos y nombres, denominación o razón social</label>
			    	<input type="text" class="form-control" id="nombre" placeholder="" ng-model="nombre" required>
			  	</div>
			  	<div ng-if="nuevoClientebtn">
			  		<button type="submit" class="btn btn-primary">Guardar Nuevo Cliente</button>
			  	</div>
			</form>
		</div>
	</div>
	<hr>
	<div class="row">
		<div>
			<form class="form-inline" ng-submit="addDetalle()">
			  	<div class="form-group">
			    	<label for="">Producto o Servicio</label>
			    	<input type="text" class="form-control" ng-change="mostrarLista()" ng-blur="desenfoqueBusqueda()" ng-model="productoBuscar" required>
			    	<ul class="suggestions-list" ng-if="activarListado">
			    		<li ng-repeat="producto in productosAll | filter:productoBuscar" ng-click="assignValueAndHide(producto)">{{producto.descripcion}}</li>
			    	</ul>
			  	</div>
			  	|
			  	<div class="form-group">
			    	<label>Cantidad</label>
			    	<input type="number" class="form-control" placeholder="Cantidad" ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" step="0.001" ng-model="val_unit" required>
			  	</div>
			  	|	
			  	<div class="form-group">
			    	<label>Unidad de Medida</label>
			    	<select class="form-control" ng-options="um.descripcion for um in unidadesDeMedida track by um.codigo" ng-model="unidad_medida" id="unidad_medida" required></select>
			  	</div>

			  	<button type="submit" class="btn btn-primary">Agregar Detalle</button>
			</form>
		</div>
	</div>

</div>