<div ng-controller="facturaController">
	<h1>Factura</h1>
	<div class="row">
		<div class="col-md-6">
			<form ng-submit="storeCliente()">
			  	<div class="form-group">
			    	<label for="numero_di">Número de documento de identidad</label>
			    	<input type="text" class="form-control" placeholder=""  maxlength="11" pattern="[0-9]{8,11}" ng-model="numero_di" ng-blur="searchDocumento(numero_di)" required>
			  	</div>
			  	<div class="form-group">
			    	<label for="tipo_doc">Tipo de documento de identidad</label>
			    	<select class="form-control" ng-options="di as di.descripcion for di in documentoTipos track by di.codigo" ng-model="tipo_doc" id="tipo_doc" required></select>
			  	</div>
			  	<div class="form-group">
			    	<label for="nombre">Apellidos y nombres, denominación o razón social</label>
			    	<input type="text" class="form-control" id="nombre" placeholder="" ng-model="nombre" required>
			  	</div>
			  	<div ng-if="nuevoClientebtn">
			  		<button type="submit" class="btn btn-primary">Guardar Nuevo Cliente</button>
			  	</div>
			</form>
		</div>
	</div>
	<hr>
	<div class="row">
		<div>
			<form class="form-inline">
			  	<div class="form-group">
			    	<label for="exampleInputName2">Producto o Servicio</label>
			    	<input type="text" class="form-control" id="exampleInputName2" placeholder="Jane Doe">
			  	</div>
			  	|
			  	<div class="form-group">
			    	<label for="exampleInputEmail2">Cantidad</label>
			    	<input type="email" class="form-control" id="exampleInputEmail2" placeholder="jane.doe@example.com">
			  	</div>
			  	|	
			  	<div class="form-group">
			    	<label for="exampleInputEmail2">Unidad de Medida</label>
			    	<input type="email" class="form-control" id="exampleInputEmail2" placeholder="jane.doe@example.com">
			  	</div>

			  	<button type="submit" class="btn btn-default">Send invitation</button>
			</form>
		</div>
	</div>
</div>