<div ng-controller="facturaController" ng-init="getProductos();getInformation();">
	<h1>Factura</h1>
	<div class="row">
		<div class="col-md-6">
			<form ng-submit="storeCliente()">
			  	<div class="form-group">
			    	<label for="numero_di">Número de documento de identidad</label>
			    	<input type="text" class="form-control" placeholder=""  maxlength="11" pattern="[0-9]{8,11}" ng-model="numero_di" ng-blur="searchDocumento(numero_di)" required>
			  	</div>
			  	<div class="form-group">
			    	<label for="tipo_doc">Tipo de documento de identidad</label>
			    	<select class="form-control" ng-options="di as di.descripcion for di in documentoTipos track by di.codigo" ng-model="tipo_doc" id="tipo_doc" required></select>
			  	</div>
			  	<div class="form-group">
			    	<label for="nombre">Apellidos y nombres, denominación o razón social</label>
			    	<input type="text" class="form-control" id="nombre" placeholder="" ng-model="nombre" required>
			  	</div>
			  	<div ng-if="nuevoClientebtn">
			  		<button type="submit" class="btn btn-primary">Guardar Nuevo Cliente</button>
			  	</div>
			</form>
		</div>
	</div>
	<hr>
	<div class="row">
		<div class="col-md-12">
			<form class="form-inline" ng-submit="addDetalle()">
			  	<div class="form-group">
			    	<label for="">Producto o Servicio</label>
			    	<input type="text" class="form-control" ng-change="mostrarLista()" ng-blur="desenfoqueBusqueda()" ng-model="productoBuscar" required>
			    	<ul class="suggestions-list" ng-if="activarListado">
			    		<li ng-repeat="producto in productosAll | filter:productoBuscar" ng-click="assignValueAndHide(producto)">{{producto.descripcion}}</li>
			    	</ul>
			  	</div>
			  	|
			  	<div class="form-group">
			    	<label>Cantidad</label>
			    	<input type="number" class="form-control" placeholder="Cantidad" ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" step="0.001" ng-model="cantidad" required>
			  	</div>
			  	|	
			  	<div class="form-group">
			    	<label>Unidad de Medida</label>
			    	<select class="form-control" ng-options="um.descripcion for um in unidadesDeMedida track by um.codigo" ng-model="unidad_medida" id="unidad_medida" required></select>
			  	</div>

			  	<button type="submit" class="btn btn-primary">Agregar Detalle</button>
			</form>
		</div>
	</div>
	<hr>
	<div class="row">
		<div id="detalles">
			<h1>Detalles de Factura</h1>
			<table class="table table-hover">
				<thead>
					<tr>
						<th>#</th>
						<th>Descripción</th>
						<th>Cantidad</th>
						<th>Unidad de medida</th>
						<th>Valor Unitario</th>
						<th>Valor de Venta</th>
						<th>ISC</th>
						<th>IGV</th>
						<th>Importe Total</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="detalle in detalles">
						<td>{{$index + 1}}</td>
						<td>{{ detalle.descripcion }}</td>
						<td>{{ detalle.cantidad }}</td>
						<td>{{ detalle.unidad_medida.descripcion }}</td>
						<td>{{ detalle.valor_unitario }}</td>
						<td>{{ detalle.valor_venta.toFixed(2) }}</td>
						<td>{{ detalle.afectacion_isc.monto.toFixed(2) }}</td>
						<td>{{ detalle.afectacion_igv.monto.toFixed(2) }}</td>
						<td></td>
					</tr>
					<tr>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td>{{ Factura.totalValorVenta.monto.toFixed(2) }}</td>
						<td>{{ Factura.totalIsc.monto.toFixed(2) }}</td>
						<td>{{ Factura.totalIgv.monto.toFixed(2) }}</td>
						<td>{{ Factura.importeTotal.toFixed(2) }}</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	<div class="row">
		<div>
			<div class="checkbox">
			    <label>
			      	<input type="checkbox" ng-model="divPercepcion" ng-change="addPercepcion()"> Este comprobante de pago acredita Percepción
			    </label>
			</div>
		</div>
	</div>
	<div class="row" ng-if="divPercepcion">
		<div class="col-md-3">
			<h2>Importe de la percepción en moneda nacional</h2>
			<table class="table">
				<tr>
					<td>Importe Total</td>
					<td>{{ Factura.importeTotal.toFixed(2) }}</td>
				</tr>
				<tr>
					<td>Importe de percepción</td>
					<td>{{ (Factura.percepcion.monto).toFixed(2) }}</td>
				</tr>
				<tr>
					<td>Importe Total cobrado</td>
					<td>{{ (Factura.percepcion.monto_total).toFixed(2) }}</td>
				</tr>
			</table>
		</div>
	</div>
	<div class="row">
		<div>
			<div class="checkbox">
			    <label>
			      	<input type="checkbox" ng-model="divDetraccion" ng-change="addDetraccion()"> Este comprobante de pago acredita Detracción
			    </label>
			</div>
		</div>
	</div>
	<div class="row" ng-if="divDetraccion">
		<div class="col-md-3">
			<h2>Detracciones</h2>
			<form ng-submit="addDataDetraccion()">
			  	<div class="form-group">
			    	<label for="">Porcentaje de la detracción (decimales)</label>
			    	<input type="text" class="form-control" placeholder="ejemplo 0.2" ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" step="0.01" id="porc_detracc" ng-model="porc_detracc" ng-blur="calcularMontoDetraccion()" required>
			  	</div>
			  	<div class="form-group">
			    	<label for="tipo_doc">Número de Cuenta en el Banco de la Nación</label>
			    	<input type="text" class="form-control" placeholder="" id="numero_cuenta" ng-model="numero_cuenta" required>
			  	</div>
			  	<div class="form-group">
			    	<label for="nombre">Monto de la detracción: </label>
			    	<label for="nombre" style="font-size: 20px">{{ (Factura.detraccion.monto).toFixed(2) }}</label>
			  	</div>
			  	<div class="form-group">
			  		<button type="submit" class="btn btn-primary">Guardar Datos</button>
			  	</div>
			</form>
		</div>
	</div>
	<div class="form-group">
		<br>
		<button class="btn btn-success" ng-click="terminarFactura();">Terminar Factura</button>
	</div>
</div>